html {
    font-family: 'Sono', sans-serif;
    color: #fff;
    background-color: #000;
}
.title {
    font-size: 82px;
    font-weight: 700;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
}
.accordion {
    width: 80%;
    height: 100%;
    margin: 50px auto;
}
.accordion-item {
    padding: 50px;
    border-top: 1px solid #9d9d9d;
}
.accordion-title {
    font-size: 48px;
    display: block;
    cursor: pointer;
}
.accordion-input {
    visibility: hidden;
}
.accordion-input:checked + .accordion-img {
    display: block;
}
.accordion-img {
    display: none;
    padding-top: 50px;
    width: 600px;
    margin: 0 auto;
}
.accordion-img img {
    width: 100%;
    
}